<div class="welcome-wrapper">
			<div class="welcome-header">
				<h1>Welcome!</h1>
				<p>Share your ideas with the world, find like-minded people and connect with them</p>
				<form class="signup-form">
					<div class="form-group">
						<p style="margin-bottom: 24px;"><input type="text" class="form-control" id="email-input" placeholder="Your email address" style="font-size:16px;"></p>
					</div>
				<div class="actions">
					<input class="btn btn-default submit-btn" type="submit" data-js="submit-email" value="Sign up">
				</div>
			</form>			
		</div>
</div>
