<div class="welcome-wrapper">
      <div class="welcome-header">
        <div class="get-started">
          <div class="step1 clearfix">
            <span class="step-number">1</span>
            <div class="step-text">
              <p class="step-header">Share your ideas</p>
              <p class="step-description">Your ideas stay your own</p>
            </div>
          </div>
          <div class="step2 clearfix">
            <span class="step-number">2</span>
            <div class="step-text">
              <p class="step-header">Find like-minded creators</p>
              <p class="step-description">You choose who to connect with</p>
            </div>
          </div>
          <div class="step3 clearfix">
            <span class="step-number">3</span>
            <div class="step-text">
              <p class="step-header">Create</p>
              <p class="step-description">Build your idea together</p>
            </div>
          </div>
          <div class="actions">
            <a href="" class="btn get-started-btn" data-js="get-started">Get started!</a>
          </div>
        </div>
        <div class="remind-view" style="display:none;">
          <h1>We are almost ready!</h1>
          <p style="max-width: 500px;">We're very excited for you to get started sharing your ideas and
       connecting with people, but we're not quite ready yet. Add your email
       below if you would like us to remind you when we're all set. 
          </p>
          <form class="signup-form form-inline">
            <div class="form-group">
            <input type="text" class="form-control" id="email-input" placeholder="Your email" style="font-size:16px;">
            </div>
            <button href="" class="btn submit-btn" type="submit" data-js="submit-email">Remind me</button>
          </form>   
        </div>  
    </div> <!-- header -->
</div> <!-- /wrapper -->
