<div class="welcome-wrapper">
	<div class="welcome-header">
		<h1>We are almost ready!</h1>
		<p style="max-width: 500px;">We're very excited for you to get started sharing your ideas and
			 connecting with people, but we're not quite ready yet. Add your email
			 below if you would like us to remind you when we're all set. 
		</p>
		<form class="signup-form form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="email-input" placeholder="Your email" style="font-size:16px;">
			</div>

			<button href="" class="btn submit-btn" type="submit" data-js="submit-email">Remind me</button>
	</form>			
</div>
</div>