@import "bootstrap";

.container-fluid {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;

	/* navigation */

	.navbar {
		background-color: #372F2F;
		border: none;
		
		.nav>li>a {
			color: #F5F5F5;
		}
		.logo {
			font-weight: 500;
			letter-spacing: 2px;
			margin-left: 12px;
		}
	}

	/* sign up form */
	.welcome-wrapper {
	height: 500px;
	position:relative;

		.welcome-header {
			color: #fff;
			text-align: left;
			padding-top: 130px;
			font-size: 1.4em;
			position: relative;
			margin-left: 20%;
			z-index: 10;
		}
		.signup-form {
			margin: 32px auto;

			.submit-btn {
				padding: 3px;
		  	background-color: #66D873;
		    width: 200px;
		    color: #fff;
		    border-radius: 6px;
		  	box-shadow: 2px 2px 2px #777;
		  	text-shadow: 1px 1px 1px #777;
		    font-size: 1em;
			}
			#email-input {
				max-width: 250px;
				margin-right: 12px;
			}
		}
	}

	.welcome-wrapper:before {
		content: ' ';
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 1;
		opacity: 0.6;
		background-image: url('welcome_photo1.jpeg');
		background-repeat: no-repeat;
		-ms-background-size: cover;
  	-o-background-size: cover;
  	-moz-background-size: cover;
  	-webkit-background-size: cover;
  	background-size: cover;
	}

	.get-started {

		.step-number{
			display: block;
			float:left;
			background-color: #ddd;
			color: #777;
			box-shadow: 2px 3px 2px #777;
			width: 46px;
			font-size: 1.8em;
			border-radius: 50%;
			padding-left: 13px;
		}
		.step-text {
			float: left;
			margin-left: 14px;
			margin-top: -6px;
			margin-bottom: 24px;

			.step-header {
				margin-bottom: 0px;
				font-size: 1.4em;
				text-shadow: 1px 1px 1px #777;
			}
			.step-description {
				margin-bottom: 0px;
				margin-left: 2px;
				font-size: 0.8em;
				text-shadow: 1px 1px 1px #777;

			}
		}
		.get-started-btn {
			min-width: 250px;
		  background-color: #66D873;
		  color: #fff;
		  font-size: 1.2em;
		  border-radius: 6px;
		  box-shadow: 2px 2px 2px #777;
		}
	}
}

.clear-floats {
	clear: both;
}
